<%- include ../layouts/head.ejs %>
<h1 style="text-align: center;">Formulario para agregar</h1>
<br>
<form action="/sucursales/S" method="post" class="form-label" style="margin-left: 5%; margin-right: 5%;">
    <h5>Nombre</h5>
    <input class="form-control" type="text" name="nombre">
    <br>
    <h5>Teléfono</h5>
    <input class="form-control" type="number" name="telefono" min="1" maxlength="10">
    <br>
    <h5>Calle</h5>
    <input class="form-control" type="text" name="calle">
    <br>
    <h5>Colonia</h5>
    <input class="form-control" type="text" name="colonia">
    <br>
    <h5>CP</h5>
    <input class="form-control" type="text" name="cp" maxlength="5">
    <br>
    <h5>Número plazas</h5>
    <input class="form-control" type="number" name="numeroPlazas" min="0">
    <br>
    <div class="d-grid gap-2">
        <input class="btn btn-outline-primary" type="submit" value="Aceptar">
    </div>
</form>
<%- include ../layouts/foot.ejs %>